// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

$font-family = Slackey
$header-background-color = #df7875
$masthead-background-color = #1d458b
$features-background-color = #594b6e
$footer-background-color = #3b2b54

$body-color = #fff
$text-color = #a496bb
$hover-color = yellow
$primary-shadow = #3b2b54
$secondary-shadow = #584378

body
  padding-top: 72px
  color: $body-color

header
  font-family: $font-family

  .navbar
    background: $header-background-color
    border-bottom: 2px solid $secondary-shadow
    padding: 10px 0

    .navbar-brand,
    .navbar-nav > li > a
      color: $body-color

    .navbar-brand:hover,
    .navbar-nav > li > a:hover
      color: $hover-color

    .navbar-brand
      font-size: 22px
      text-transform: uppercase
      text-shadow: 2px 2px $secondary-shadow

    .navbar-nav > li > a
      font-size: 14px

.masthead
  background: $masthead-background-color url("../img/noise.png") top left repeat
  text-align: center

  h1
    font-family: $font-family
    font-size: 72px
    text-shadow: 2px 2px $secondary-shadow

    strong
      color: $hover-color

  h2
    font-weight: 100
    font-size: 28px
    margin-top: 10px

    a
      color: inherit
      text-decoration: none

    a:hover
      color: $hover-color

  .windows
    position: relative
    padding-top: 20px
    height: 320px
    overflow: hidden
    z-index: 1

    [class^="image-"]
      position: absolute
      transition: all 400ms ease

    [class^="image-"]:hover
      bottom: 2%

    .image-left
      width: 30%
      bottom: -8%
      left: 5%

    .image-left:hover
      left: 0

    .image-center
      width: 40%
      bottom: -9%
      left: 50%
      margin-left: -20%

    .image-right
      width: 30%
      right: 5%
      bottom: -6%

.features
  position: relative
  z-index: 2
  background-color: $features-background-color
  box-shadow: 0px -10px 2px 0px rgba(0, 0, 0, 0.2), inset 0px 2px $secondary-shadow
  padding: 30px 0

  .info-bullet
    text-align: center
    margin-bottom: 10px

    i
      display: block
      font-size: 90px
      line-height: 102px

    h5
      font-family: $font-family
      font-size: 22px
      text-transform: uppercase
      margin-bottom: 5px
      padding-bottom: 10px

    i, h5
      text-shadow: 2px 2px $primary-shadow

  p
    color: $text-color

footer
  font-family: $font-family
  background-color: $footer-background-color
  padding: 30px 0

  .thumbnail
    float: left
    width: 20%
    margin: 2px 2px 10px

  .brand
    text-align: center

    > a
      color: $text-color
      font-size: 18px

    > a:hover
      color: $hover-color
      text-decoration: none
